.navbar__container {
  display: flex;
  flex-direction: row;
  background-color: black;
  margin-top: 0;
  max-height: 70px;
  width: 100%;
}

.navbar__body{
  display: flex;
  flex-direction: row;
}

.navbar__body{
  padding: 1rem 1rem 1rem;
  width: 100%;
}

.navbar__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navbar__list__item{
  text-decoration: none;
  background-color: white;
  margin: 0 1rem 0;
  padding: 0.5rem;
  cursor:pointer;
  border-radius: 5px;
}

.navbar__list__item:hover {
  background-color: white;
}

.navbar__list--right{
  align-self: flex-end;
  /* margin-left: 500px; */
}

.navbar__list h2 {
  color: white;
  font-size:1rem;
}